{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_html.css')}}">
{% endblock %}

{% block body %}
<header>
    <h1>Create Study Group</h1>
</header>

<main>
    <section id="">
        <h2>Create Your Profile</h2>
        <form action="/create" method="POST">
            <label for="username">Your Name:</label>
            <input type="text" id="username" name="username" maxlength="20" required>

            <label for="groupname">Group Name:</label>
            <input type="text" id="groupname" name="groupname" maxlength="20" required>

            <label for="coursecode">Course Code:</label>
            <input type="text" id="coursecode" name="coursecode" placeholder="e.g., COMM 11000" maxlength="9" required>

            <br>
            <button type="submit">Create Group</button>
        </form>
    </section>
</main>

<footer>
    <p>&copy; 2023 Study Group Matching</p>
</footer>
{% endblock %}
